<div class="jumbotron">

  <h4>Available Cars</h4>

  <table class="table  table-hover">
    <tbody>
    <tr>
      <td></td>
      <td><blockquote>Car Collection Location</blockquote></td>
      <td><blockquote>Available Cars</blockquote></td>
      <td><blockquote>Details</blockquote></td>
    </tr>
    <tr ng-repeat="carLocation in carLocations">
      <td>{{$index+1}}</td>
      <td>{{carLocation.parking_name}}<a href="http://maps.google.com/maps?z=12&t=m&q=loc:{{carLocation.latitude}}+{{carLocation.longitude}}"><h6>(Map &#62;&#62;)</h6></a> </td>
      <td>{{carLocation.cars_available}}</td>
      <td>{{carLocation.description}}</td>
    </tr>
    </tbody>
  </table>

  <!--<p>ps. go have a look at main.js for the api call</p>-->
</div>
