<div class="jumbotron">
  <h3>Smove's Car booking System</h3>
  <!--<p class="lead">-->
  <!--Now it's your turn.</br>-->
  <!--Blow us away with your awesomeness.-->
  <!--</p>-->
  <!--<p><a class="btn btn-lg btn-success" ng-href="#/"><span class="glyphicon glyphicon-ok"></span></a></p>-->
  </br>
  </br>

    <div class="row">
      <div class="text-center col-md-6">
        <div class="classWithPad"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='#/searchCars';">Search Cars</button></div>
      </div>
      <div class="text-center col-md-6">
        <div class="classWithPad"> <button type="button" class="btn btn-primary btn-lg" onclick="location.href='#/showCarsList';">View available Cars</button></div>
      </div>
    </div>
  <!--</table>-->

  <!--<p>ps. go have a look at main.js for the api call</p>-->
</div>
