<div class="jumbotron">
  <h4 style="text-align: center">Search Car availability</h4>
  </br>
  <div class="container" ng-controller="CarSearchController">
    <form name="form" class="form-horizontal" role="form">
      <div class="form-group">
        <label for="bookingDate" class="col-sm-4 control-label">Booking Date</label>

       <!-- <div class="col-sm-4">
          <input id="bookingDate" type="text" class="form-control" placeholder="Format (22-10-2015)"
                 ng-pattern='/^(0?[1-9]|1\d|2[0-8]|29(?=[-]\d?\d[-](?!1[01345789]00|2[1235679]00)\d\d(?:[02468][048]|[13579][26]))|30(?![-]0?2)|31(?=[-]0?[13578]|[-]1[02]))[-](0?[1-9]|1[0-2])[-]([12]\d{3})$/'
                 ng-model="searchObj.date"
                 name="bookingDate" required/>
        </div>-->
        <div class="col-sm-4">
          <input class="form-control" type="date" id="bookingDate" name="bookingDate" ng-model="searchObj.date"
                 placeholder="yyyy-MM-dd" required />
        </div>
      </div>
      <div class="form-group">
        <label for="time" class="col-sm-4 control-label">Time</label>

        <div class="col-sm-4">
          <input class="form-control" id="time" placeholder="HH:mm:ss"
                 type="time" ng-model="searchObj.time" name="time" required>
        </div>
      </div>
      <div class="form-group">
        <label for="duration" class="col-sm-4 control-label">Duration</label>

        <div class="col-sm-4">
          <input class="form-control" id="duration" placeholder="Duration(Hours)" type="number" min="1" max="24"
                 ng-model="searchObj.duration" name="duration" ng-pattern="/^[1-9]+$/" required>
        </div>
      </div>
      <div class="form-group">
        <br class="col-sm-8" align="center">
        <span ng-show="form.bookingDate.$error.date">&#62; Incorrect Format, should be DD-MM-YYYY.</span>
        <span ng-show="form.time.$error.time">&#62; Invalid value for time.</span>
        <span ng-show="form.duration.$error.number">&#62; Invalid value for booking duration, should be between 1 and 24 Hours.</span>
      </div>

      <div class="form-group">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="right">
          <input type="submit" class="btn btn-info btn-md" ng-disabled="form.$invalid" value="Search"
                 ng-click="submitTheForm()">
        </div>
      </div>
    </form>

  </div>

  </br>

  <table class="table  table-hover">
    <tbody>
    <thead>
    <tr>
      <th>
        <blockquote>Available Cars</blockquote>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="carLocation in carLocationResults">
      <!--<td>{{$index+1}}</td>-->
      <!-- <td>{{carLocation.parking_name}}<a
         href="http://maps.google.com/maps?z=12&t=m&q=loc:{{carLocation.latitude}}+{{carLocation.longitude}}"><h6>(Map
         &#62;&#62;)</h6></a></td>-->
      <td><a href="#/goToLocation/{{carLocation.latitude}}/{{carLocation.longitude}}/{{carLocation.parking_shortname}}">{{carLocation.parking_name}}</a>
      </td>
      <td>{{carLocation.cars_available}}</td>
      <!--<td>{{carLocation.description}}</td>-->
    </tr>
    </tbody>
  </table>

</div>
